<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n="@@catalogue.add-article">Ajouter un article</mat-panel-title>
    </mat-expansion-panel-header>

    <form novalidate [formGroup]="articleForm" #formDirective="ngForm" (ngSubmit)="onSubmit(); formDirective.resetForm()">
      <mat-form-field>
        <mat-label i18n="@@article.reference">Référence</mat-label>
        <input matInput formControlName="reference"/>
      </mat-form-field>
      <mat-form-field>
          <mat-label i18n="@@article.label">Libellé</mat-label>
          <input matInput formControlName="libelle"/>
      </mat-form-field>
      <button mat-icon-button type="submit" color="primary" [disabled]="articleForm.invalid || articleForm.pristine">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button type="reset" color="warn" [disabled]="!articleForm.touched">
          <mat-icon>cancel</mat-icon>
      </button>
        <div *ngIf="articleForm.controls.reference.errors?.referenceUnique">
        <span i18n="@@catalogue.reference-exists">Cette référence existe déjà.</span>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<mat-card class="articles">
  <mat-card-header>
      <mat-card-title i18n="@@catalogue.list">Lister les articles</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field>
        <input matInput #filter (keyup)="applyFilter(filter.value)" i18n-placeholder="@@catalogue.filter" placeholder="Filtrer">
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <!-- Reference Column -->
        <ng-container matColumnDef="reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@article.reference">Référence</mat-header-cell>
          <mat-cell *matCellDef="let article">{{article.reference}}</mat-cell>
        </ng-container>

        <!-- Libelle Column -->
        <ng-container matColumnDef="libelle">
          <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@article.label">Libellé</mat-header-cell>
          <mat-cell *matCellDef="let article">{{article.libelle}} </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef i18n="@@catalogue.action">Action</mat-header-cell>
          <mat-cell *matCellDef="let article">
            <button mat-icon-button color="accent" (click)='supprimerArticle(article.reference)'>
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
