<evegs-article (ajouterArticle)="ajouterArticle($event)"></evegs-article>

<mat-card class="articles">
  <mat-card-header>
      <mat-card-title i18n="@@catalogue.list">Lister les articles</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field>
        <input matInput #filter (keyup)="applyFilter(filter.value)" i18n-placeholder="@@catalogue.filter" placeholder="Filtrer">
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <!-- Reference Column -->
        <ng-container matColumnDef="reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@article.reference">Référence</mat-header-cell>
          <mat-cell *matCellDef="let article">{{article.reference}}</mat-cell>
        </ng-container>

        <!-- Libelle Column -->
        <ng-container matColumnDef="libelle">
          <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@article.label">Libellé</mat-header-cell>
          <mat-cell *matCellDef="let article">{{article.libelle}} </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef i18n="@@catalogue.action">Action</mat-header-cell>
          <mat-cell *matCellDef="let article">
            <button mat-icon-button color="accent" (click)='supprimerArticle(article.id)'>
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-content>
  <!-- <mat-card-content>
    <div class="mat-elevation-z8">
      <ag-grid-angular
          style="height: 201px;"
          class="ag-theme-material"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          >
        </ag-grid-angular>
      </div>
  </mat-card-content>
</mat-card> -->
