<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Ajouter un article</mat-panel-title>
    </mat-expansion-panel-header>

    <form novalidate [formGroup]="articleForm" (ngSubmit)="ajouterArticle(articleForm.value)">
      <mat-form-field>
        <input matInput placeholder="Référence" formControlName="reference"/>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Libellé" formControlName="libelle"/>
      </mat-form-field>
      <button mat-icon-button type="submit" [disabled]="articleForm.invalid || articleForm.pristine">
        <mat-icon>create</mat-icon>
      </button>
      <div *ngIf="articleForm.controls.reference.errors?.referenceUnique">
        Cette référence existe déjà.
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<mat-card class="articles">
  <mat-card-header>
      <mat-card-title>Lister les articles</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <!-- Reference Column -->
        <ng-container matColumnDef="reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Référence </mat-header-cell>
          <mat-cell *matCellDef="let article"> {{article.reference}} </mat-cell>
        </ng-container>

        <!-- Libelle Column -->
        <ng-container matColumnDef="libelle">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Libellé </mat-header-cell>
          <mat-cell *matCellDef="let article"> {{article.libelle}} </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let article">
            <button mat-icon-button (click)='supprimerArticle(article.reference)'>
              <mat-icon>delete forever</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
